In [1]:
import numpy as np
from scipy import linalg

In [2]:
# pg 3 examples
A = np.mat([[1,2],
           [3,5]])
print(A)

[[1 2]
 [3 5]]

In [3]:
B = linalg.inv(A)
print(B)

[[-5.  2.]
 [ 3. -1.]]

In [4]:
print(A * B, "\n")
print(B * A, "\n")

[[1.00000000e+00 0.00000000e+00]
 [1.77635684e-15 1.00000000e+00]]

[[1. 0.]
 [0. 1.]]

In [5]:
# pg 4 examples
A = np.mat([[1,2,3],
           [4,5,6],
           [7,8,9]])
print("A is equal to \n", A, "\n")
R = np.mat([[1,0,0],
           [0,0,1],
           [0,1,0]])
print("R is equal to \n", R, "\n")
# To interchange rows 2 and 3
print("To interchange rows 2 and 3")
print("Multiply R times A is equal to \n", R*A, "\n")
print("To interchange columns 2 and 3")
C = np.mat([[1,0,0],
           [0,0,1],
           [0,1,0]])
print("C is equal to \n", C, "\n")
print("Multiply A times C is equal to \n", A*C, "\n")

A is equal to
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

R is equal to
 [[1 0 0]
 [0 0 1]
 [0 1 0]]

To interchange rows 2 and 3
Multiply R times A is equal to
 [[1 2 3]
 [7 8 9]
 [4 5 6]]

To interchange columns 2 and 3
C is equal to
 [[1 0 0]
 [0 0 1]
 [0 1 0]]

Multiply A times C is equal to
 [[1 3 2]
 [4 6 5]
 [7 9 8]]

In [6]:
# pg 5
# Suppose we wish to divide the second row by 2 or the second column by 2

In [7]:
# pg 5 through pg 7