In [1]:
# import the libraries that I will need
import numpy as np
import pandas as pd

In [2]:
# read in the total customer file
total_customers = pd.read_csv('total_customers.csv')

In [3]:
# make all values in customer name column all lower case and dropping rows with NaN values in the name column
total_customers['name'] = total_customers['name'].str.lower()
total_customers = total_customers.dropna(subset=['name'])

In [4]:
# make all values in the email column all lower case  and dropping rows with NaN values in the email column
total_customers['email'] = total_customers['email'].str.lower()
total_customers = total_customers.dropna(subset=['email'])

In [5]:
# print out the first 5 rows to see what the data looks like
total_customers.head()

              name                      email
0  edward mcalpine    6mcalpine@bellsouth.net
1  richard hatcher   aaronhatcher@hotmail.com
2  richard hatcher   aaronhatcher@hotmail.com
3    alyssa martin    alyssa_martin14@att.net
4   allison gidden       amkgiddens@gmail.com

In [6]:
total_customers.tail()

                  name                   email
36225  zachary youmans  zyoumans60@hotmail.com
36226    zalika dozier      zyoung04@gmail.com
36227   zebunnisa butt       zzb73@hotmail.com
36228   zoraida norton      zzultra1@gmail.com
36229      carol adams   zzz117zzz@hotmail.com

In [7]:
# print total # of customers in the total customer data frame
len(total_customers)

36229

In [8]:
# read in the said yes file
said_yes = pd.read_csv('said_yes.csv')

In [9]:
# print the total number that have said yes
len(said_yes)

5246

In [10]:
# modify the said yes data frame to just show the name and email columns
said_yes_mod = said_yes[['name', 'email']].copy()
said_yes_mod.head()

             name                          email
0        Mike Lee            mike.lee@cobbis.org
1     AikWah Leow           aleow@cobbcounty.org
2     Dawn  Smith      dawn.smith@cobbcounty.org
3  Kimberly White  Kimberly.White@cobbcounty.org
4  CLARK GOLDBAND      clark.goldband@turner.com

In [11]:
# make all values in the name and email columns all lower case and dropping NaNs in the name and email columns
said_yes_mod['name'] = said_yes_mod['name'].str.lower()
said_yes_mod = said_yes_mod.dropna(subset=['name'])
said_yes_mod['email'] = said_yes_mod['email'].str.lower()
said_yes_mod = said_yes_mod.dropna(subset=['email'])
said_yes_mod.head()

             name                          email
0        mike lee            mike.lee@cobbis.org
1     aikwah leow           aleow@cobbcounty.org
2     dawn  smith      dawn.smith@cobbcounty.org
3  kimberly white  kimberly.white@cobbcounty.org
4  clark goldband      clark.goldband@turner.com

In [12]:
# print the total in the modified said yes data frame, should be the same as the unmodified
len(said_yes_mod)

5246

In [19]:
said_yes_mod_check = said_yes_mod.drop_duplicates(['email'], keep='first')
len(said_yes_mod_check)

5150

In [20]:
len(said_yes_mod) - len(said_yes_mod_check)

96

In [13]:
# confirm the 2 data frames are the same thing (i.e. comparing apples to apples)
type(total_customers) == type(said_yes_mod)

True

In [14]:
still_available_rough = total_customers[~total_customers['email'].isin(said_yes_mod['email'])].dropna(how='all')
still_available_rough = still_available_rough[['name', 'email']].copy()
still_available_rough.head()

              name                      email
0  edward mcalpine    6mcalpine@bellsouth.net
1  richard hatcher   aaronhatcher@hotmail.com
2  richard hatcher   aaronhatcher@hotmail.com
3    alyssa martin    alyssa_martin14@att.net
4   allison gidden       amkgiddens@gmail.com

In [15]:
len(still_available_rough)

32753

In [16]:
still_available = still_available_rough.drop_duplicates(['email'], keep='first')
len(still_available)

32145

In [17]:
# So you know what's going on
print("There were some other duplications going on because the difference in what I showed as the inital total, " 
      + str(len(total_customers)) + " versus the number I initially showed as still available "
     + str(len(still_available_rough)) + " was " + str(len(total_customers) - len(still_available_rough)) + ".\n")
print("I found another " + str(len(still_available_rough) - len(still_available)) + " duplicates that were in the "
     + " initial total.") 
print("After removing these duplicates we were left with " + str(len(still_available))
     + " customers that should be hit this round" + ".\n")
print("So the total difference between what American Disposal showed as the initial total " 
     + str(len(total_customers)) + " and the actual number still available "
     + str(len(still_available)) + " is " + str(len(total_customers)-len(still_available)) + ".\n")

There were some other duplications going on because the difference in what I showed as the inital total, 36229 versus the number I initially showed as still available 32753 was 3476.

I found another 608 duplicates that were in the  initial total.
After removing these duplicates we were left with 32145 customers that should be hit this round.

So the total difference between what American Disposal showed as the initial total 36229 and the actual number still available 32145 is 4084.

In [18]:
# outputting to an excel spreadsheet
writer = pd.ExcelWriter('still_available.xlsx')
still_available.to_excel(writer, 'Sheet1')
writer.save()