# Lists and Loops

One of the more powerful (and valuable) features in Python and most other programming languages is the ability to store more than one value or string in a single variable.  We call such variables arrays in most languages (and I still call them arrays in Python), but the Python preference is to call these variables lists, tuples and dictionaries.

We also need to have a method for storing, manipulating and printing all of the data we've stored in a list.  We can use a concept called slicing for some of this task, but loops are a powerful method for working with lists.  Loops are a very useful programming tool and will you/me/us to perform repetitive tasks multiple (thousands, millions) times.

At the end of this notebook (and if all goes well) you will have the basic tools needed to write some interesting and useful programs!

## Lists

A list is a set of data stored in a single variable.  The items in the list probably should be related in some way, but there are no real restrictions to what can be stored in a list.  Some programming languages require you to specify what type of data your list (or array) can hold, i.e. integers, floating point values or strings, but Python allows darn near anything.  Here is an example:

In [3]:
my_pets = ['rupert','kira sue','mathilda', 7]
for petnames in my_pets:
    print(petnames)

rupert
kira sue
mathilda
7

OK, what just happened?  Does the output make sense?  Except for the number 7, those are the names of my pets... 2 cats and a dachsund.  I stored all the names (and the number 7) in the my_pets variable for safe keeping (and my pets are none the wiser).  Most languages require much more effort to store a list of values, but Python makes the job easy!

How do I get the names (and the number 7) back?  Again, easy!  I use a loop.  The 'for' command starts the looping process.  Basically the

    for petnames in my_pets:

statement says "for each of the values in the my_pets variable, put the value into the variable petnames one at a time so I can print them out"

You will notice that the Jupyter notebook indented the print() statement 4 spaces.  This is IMPORTANT and a common source of errors in loops and in conditionals (which we'll discuss later).  The indented code tells Python that the indented line(s) belong to the loop.  Let's see what happens if we don't indent:

In [8]:
my_pets = ['rupert','kira sue','mathilda', 7]
for petnames in my_pets:
    print(petnames.title())

Rupert
Kira Sue
Mathilda

AttributeError: 'int' object has no attribute 'title'

Ah ha! Yes, we can capitalize the names, but not the number!  So, even though we can store any kind of data in a Python list, we can't always perform the same task on each of the members of the list.  It makes no sense to capitalize the number 7.  

One more time...

In [9]:
my_pets = ['rupert','kira sue','mathilda', '7']
for petnames in my_pets:
    print(petnames)

rupert
kira sue
mathilda
7

OK, what just happened?  Look closely at the number 7.  I've enclosed it in single quotes and Python now looks at the 7 as a string rather than a number.  For example:

In [10]:
print(7+7)
print('7'+'7')

14
77

The first print() statement added two integers as expected, but the second statement used string concatenation to glue the two 7s together.  A '7' is nothing more than a string character to Python.  Now back to our story.  I'm going to create a list of the first names of each of my grandkids and then access the last name in the list (I should have said earlier that creating a list requires using brackets and separating the list items with commas).

In [13]:
# I want to access the last name in the list
my_grandkids = ['xander','elli','lexi']
lastname = my_grandkids[-1]
print(lastname)

lexi

access the first name

In [16]:
my_grandkids = ['xander','elli','lexi']
lastname = my_grandkids[0]
print(lastname)

xander

access the second name

In [17]:
my_grandkids = ['xander','elli','lexi']
lastname = my_grandkids[1]
print(lastname)

elli

and the second name again

In [18]:
my_grandkids = ['xander','elli','lexi']
lastname = my_grandkids[-2]
print(lastname)

elli

No, you are not going mad. The  

lastname = my_grandkids[0]

statement accesses the first name in the list.  Computer scientists long ago decided that they would start counting with 0 rather than 1.  I probably knew the reason at some point, but I've slept since then.  When we count items in a list or array, 0 is the first element or item position.  my_grandkids[0] is where xander is stored (poor little guy).  my_grandkids[1] is the second item in the list and holds elli and my_grandkids[2] stores lexi in the third position.

But what about the negative numbers (or indexes in computer talk)?  Assume the list is arranged like a number line starting with 0 and going to the right (in the positive direction) until you reach the end of the list.  If you have reached the end of the list and you want to go back to the last item, you move in the negative direction.  So, an index of -1 moves you back to the last item in the list.  -2 moves back 2 places, etc.

### Try It Yourself

Make a list of your pets, children, friends, family members or anything you choose. Enter the list using lower case, but print the list with the names capitalized.  Then, use the techniques above to print some individual items in the list.  Use at least one negative index value just for fun.

In [29]:
my_family = ["katie", "louritha", "john", "larfaya", "catina", "dorn", "jonathan", 
             "phillip", "brian", "dorrian", "jada"]
for member in my_family:
    print(member.title())
print()

Katie
Louritha
John
Larfaya
Catina
Dorn
Jonathan
Phillip
Brian
Dorrian
Jada

In [30]:
print(my_family[5].title())
print(my_family[-5].title())

Dorn
Jonathan

### Let's review

Here is a quick walkthrough of the following loop statement:
    
    for petnames in my_pets:
    
* The keyword 'for' tells Python to loop
* The variable 'petnames' is a temporary placeholder variable. Python will place each item in the list into this variable one at a time
* The first time through the loop, the value of 'petnames' will be 'rupert'
* The second time through the loop, the value of 'petnames' will be 'kira sue'
* The third time through the loop, the value of 'petnames' will be 'mathilda'
* The fourth time through, 'petnames' will be 7
* The loop ends after that last item and the program proceeds

More on indentation...

In [35]:
airplanes = ['jabiru','skyhawk','cherokee','zenith','tecnam']
for fly in airplanes:
    print('I have flown the ' + fly)
    print('and I like to fly the ' + fly + ";")
    
print('\nbut most of the time I fly the ' + airplanes[0] + ".")

I have flown the jabiru
and I like to fly the jabiru;
I have flown the skyhawk
and I like to fly the skyhawk;
I have flown the cherokee
and I like to fly the cherokee;
I have flown the zenith
and I like to fly the zenith;
I have flown the tecnam
and I like to fly the tecnam;

but most of the time I fly the jabiru.

You can see that the indented lines are included in the loop.  Once the loop is finished going through the list, the program continues with the next line of unindented code.

### Modifying elements in a list

You can edit or change any item or value in a list if you know where the item is located in the list (its index)

In [36]:
teams = ['Cardinals','Cubs','Yankees','Giants','Astros']
for team in teams:
    print(team)

print()   # the empty print statement separates the two sets of teams
    
teams[1] = 'White Sox'
for team in teams:
    print(team)

Cardinals
Cubs
Yankees
Giants
Astros

Cardinals
White Sox
Yankees
Giants
Astros

One common error in looping is to use the list variable in the print statement instead of the placeholder variable.  Look carefully at the spelling!

In [37]:
teams = ['Cardinals','Cubs','Yankees','Giants','Astros']
for team in teams:
    print(teams)

['Cardinals', 'Cubs', 'Yankees', 'Giants', 'Astros']
['Cardinals', 'Cubs', 'Yankees', 'Giants', 'Astros']
['Cardinals', 'Cubs', 'Yankees', 'Giants', 'Astros']
['Cardinals', 'Cubs', 'Yankees', 'Giants', 'Astros']
['Cardinals', 'Cubs', 'Yankees', 'Giants', 'Astros']

If you aren't certain where a particular value is located (i.e. its list index), you can perform a search.  This is a useful feature for large lists.

In [38]:
# find the Cubs
teams = ['Cardinals','Cubs','Yankees','Giants','Astros']
print(teams.index('Cubs'))

1

You can also check for the existencs of an item in a list.  The statement returns True if the item exists in the list and False if it does not.

In [39]:
teams = ['Cardinals','Cubs','Yankees','Giants','Astros']
print('Giants' in teams)
print('Red Sox' in teams)

True
False

Adding new items to a list is easy.  You can append or insert:

In [40]:
# append an item to a list
teams = ['Cardinals','Cubs','Yankees','Giants','Astros']
teams.append('Dodgers')

for team in teams:
    print(team)

Cardinals
Cubs
Yankees
Giants
Astros
Dodgers

In [42]:
# inserting an item in a list... insert 'Red Sox' in the 3rd spot in the list
teams = ['Cardinals','Cubs','Yankees','Giants','Astros']
teams.insert(2, 'Red Sox')

for team in teams:
    print(team)

Cardinals
Cubs
Red Sox
Yankees
Giants
Astros

Sometimes it's best to create an empty list and fill it later as needed

In [43]:
# create an empty list
players = []

# add some players
players.append('Wainwright')
players.append('Rizzo')
players.append('Bryant')
players.append('Pujols')

for player in players:
    print(player)

Wainwright
Rizzo
Bryant
Pujols

We can also sort... make certain you've run the previous code cell!

In [44]:
players.sort()
for player in players:
    print(player)

Bryant
Pujols
Rizzo
Wainwright

There are other Python functions available for sorting, reversing and manipulating lists.  If you are interested, I encourage you to look in the Help > Python Reference for more information.  You can also sort, edit and append numerical lists as well.

One last list function is the len() function, which returns the number of items in a list.  Again, make certain you've run (ran?) the previous cells.

In [45]:
# append to the players list and find its length
players.append('Stanton')

players_count = len(players)
print('The number of players in our list is ' + str(players_count))

The number of players in our list is 5

The len() function returns an integer, which can't be concatenated as a string.  If we want to concatenate the number with a string, we need to use the str() function.  One other 'trick'... run the previous cell several times and watch the number of players in the list.  Why is this happening?

### Try It Yourself
Create a list and:

* append to the list
* edit a list item
* insert another item in the middle of the list
* sort the list 
* count the number items in your list and print the value

Items can be removed from the list also.

In [46]:
# the del function uses an item index
print(players)
del players[2]
print(players)

# the remove action for item names only... no index values
print(players)
players.remove('Stanton')
print(players)

['Bryant', 'Pujols', 'Rizzo', 'Wainwright', 'Stanton']
['Bryant', 'Pujols', 'Wainwright', 'Stanton']
['Bryant', 'Pujols', 'Wainwright', 'Stanton']
['Bryant', 'Pujols', 'Wainwright']

### Slicing

It's also possible to work with more than one list item using a procedure called slicing

In [47]:
# make a list of cars I've owned
cars = ['civic', 'crv', 'impala', 'terrain', 'bobcat', 'exp', 'monarch', 'volkswagon']

# print the first 3 cars... from 0 up to but not including the 4th item
print(cars[0:3])

# print the 2nd through 4th items
print(cars[1:4])

# print the 3rd item to the end of the list
print(cars[2:])

# print from the first 4 items in the list
print(cars[:4])

['civic', 'crv', 'impala']
['crv', 'impala', 'terrain']
['impala', 'terrain', 'bobcat', 'exp', 'monarch', 'volkswagon']
['civic', 'crv', 'impala', 'terrain']

Slicing does not affect the original list.  Remember that we start counting list positions (index values) from 0.

## Numerical Lists

Lists of numbers are very similar to lists of strings, but there are additional methods we can use with numeric lists.

In [48]:
# print out the first 10 integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in numbers:
    print(n)

1
2
3
4
5
6
7
8
9
10

Creating a list of numbers works, but it isn't efficient.  We can do better with the range() function.

In [49]:
# print the first 10 number using range()
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

The range() function returns all values up to, but not including, the second value.  We can also cound by 2.

In [50]:
# counting by 2s
for n in range(2, 21, 2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [53]:
# using the list function, let's store 1 million values in a list
million = list(range(1,1000001))

# unless you have time, don't print the list!!  I'm not certain what happens?
# but we can count the items in the list and print the last 10 values
count = len(million)
print("There are " + str(count) + " values in the list.")

# print the last 10 values in the list
print(million[-10:])

There are 1000000 values in the list.
[999991, 999992, 999993, 999994, 999995, 999996, 999997, 999998, 999999, 1000000]

The last print statement prints the values from the -10 position from the end of the list to the end of the list... the last 10 values.

Additional function for numerical lists are min(), max() and sum()

In [54]:
scores = [23, 16, 14, 28, 19, 11, 38]

lowest = min(scores)
highest = max(scores)

# the average can be found by dividing the sum by the number of scores
average = sum(scores)/len(scores)

print("The lowest score was " + str(lowest))
print("The highest score was " + str(highest))
print("The class average was " + str(average))

The lowest score was 11
The highest score was 38
The class average was 21.285714285714285

### Writing a program using what we've learned so far

How would we go about writing a program that would store the first 20 squares in a list?

In [55]:
# create an empty list to hold the squares
squares = []

# get the first 20 numbers, square them and append the squares to the list
for n in range(1,21):
    sq_number = n**2
    squares.append(sq_number)

# print the list to verify
for n in squares:
    print(n)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

There are other ways to accomplish the same task

In [56]:
# more efficent, but less readable!
squares = [n**2 for n in range(1,21)]

# print the values
for n in squares:
    print(n)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

But this program is not as readable and I would not write it this way.  I am a fan of readability over efficiency!

### Checking for items in a list

Sometimes we need to simply find out if an item is in a list.

In [57]:
letters = ['a','b','c','d','e','f']
'a' in letters

True

In [58]:
letters = ['a','b','c','d','e','f']
'z' in letters

False

### Tuples

An odd sounding name, but a tuple is a list that you can't edit.  That might sound strange, but if you need a permanent set of values that you can't accidently destroy, you would use a tuple.

In [59]:
# tuples are created using () instead of []
plants = ('ivy', 'rose', 'daisy')
for plant in plants:
    print(plant)

ivy
rose
daisy

In [60]:
# if we try to append or change the list, we get an error
plants = ('ivy', 'rose', 'daisy')
plants.append('tulip')

AttributeError: 'tuple' object has no attribute 'append'

## Dictionaries
Python has another type of list called a dictionary.  Dictionaries function in much the same way as a real dictionary.  A key word or value is associated with another word, value or phrase.  Dictionaries are a data structure and we won't go into detail here except to give an example.  Lists are enclosed in [brackets], Tuples in (parentheses) and Dictionaries in {braces}.

In [61]:
# create a dictionary
moon_walkers = {'armstrong':'apollo 11','aldrin':'apollo 11',
                'bean':'apollo 12','conrad':'apollo 12',
                'shepard':'apollo 14','mitchell':'apollo 14',
                'scott':'apollo 15','irwin':'apollo 15',
                'duke':'apollo 16','young':'apollo 16',
                'cernan':'apollo 17','schmidt':'apollo 17'}

# ask for the apollo mission using the keyword
print(moon_walkers['bean'])
print(moon_walkers['duke'])

apollo 12
apollo 16

In [28]:
# create a dictionary
moon_walkers = {'armstrong':'apollo 11','aldrin':'apollo 11',
                'bean':'apollo 12','conrad':'apollo 12',
                'shepard':'apollo 14','mitchell':'apollo 14',
                'scott':'apollo 15','irwin':'apollo 15',
                'duke':'apollo 16','young':'apollo 16',
                'cernan':'apollo 17','schmidt':'apollo 17'}
                

# loop through and print the keywords and associated apollo mission
for astronaut, mission in moon_walkers.items():
    print(astronaut.title(), mission.title())

Armstrong Apollo 11
Aldrin Apollo 11
Bean Apollo 12
Conrad Apollo 12
Shepard Apollo 14
Mitchell Apollo 14
Scott Apollo 15
Irwin Apollo 15
Duke Apollo 16
Young Apollo 16
Cernan Apollo 17
Schmidt Apollo 17

The for statment has two variables, astronaut and mission. The dictionary has two items per entry... an astronaut and a mission and that is why we need two variables in the for statement... to hold both items in each entry in the dictionary.

# This is where I left off on August 13, 2018!!!!!!!!!!!!!!

### Try It Yourself

* Create a list and slice it in two different ways
* Write a short program to computer the first 10 cubes (1, 8, 27...)
* Create a simple dictionary and print the items

In [30]:
# Trying It Myself
print("Creating a list and slicing it in two different ways:")
my_furniture = ['couch','chair','table', 'desk']
for furniture in my_furniture:
    print(furniture.title())
print()
first_piece = my_furniture[0]
print("The first piece of furniture in my list is a " + first_piece + (".\n"))
last_piece = my_furniture[-1]
print("The last piece of furniture in my list is a " + last_piece + (".\n"))
print("The middle pieces of furniture in my list include: ")
print(my_furniture[1:3])
print()

print("Writing a short program to compute the first 10 cubes (1, 8, 27...):")
for num in range(1, 11):
    print("The cube of '" + str(num) + "' is: ""\t" + str(num**3))
    #print("\t" + str(num**3))

print()

print("Creating a simple dictionary and printing the items:")
# create a dictionary
household_ages = {'katie m. jenkins':74,'jonathan a. jenkins':51,
                'dorn d. jenkins':50,'phillip a. jenkins':30,
                'jonathan brian jenkins':28,'raider jenkins':3.5}
                

# loop through and print the keywords and associated age
for member, age in household_ages.items():
    print(member.title() + " is " +str(age) + " years old.")

Creating a list and slicing it in two different ways:
Couch
Chair
Table
Desk

The first piece of furniture in my list is a couch.

The last piece of furniture in my list is a desk.

The middle pieces of furniture in my list include:
['chair', 'table']

Writing a short program to compute the first 10 cubes (1, 8, 27...):
The cube of '1' is: 	1
The cube of '2' is: 	8
The cube of '3' is: 	27
The cube of '4' is: 	64
The cube of '5' is: 	125
The cube of '6' is: 	216
The cube of '7' is: 	343
The cube of '8' is: 	512
The cube of '9' is: 	729
The cube of '10' is: 	1000

Creating a simple dictionary and printing the items:
Katie M. Jenkins is 74 years old.
Jonathan A. Jenkins is 51 years old.
Dorn D. Jenkins is 50 years old.
Phillip A. Jenkins is 30 years old.
Jonathan Brian Jenkins is 28 years old.
Raider Jenkins is 3.5 years old.

# This is where I left off on August 20, 2018!!!!!!!!!!!!!!

### Go on to Assignment 2