Load the MovieData.csv dataset into a pandas DataFrame as described in this week's lesson, and use it to find the following values:

For each question submit code and answer, either in the textbox or by submitting a file (at the bottom). Later you will be asked to do further analysis, so save your work.

When you are satisfied with your answer for the questions, click Finish attempt.  To see the model answer, click Submit all and finish.

a. What is the median profit of movies with budgets of over $50M?

b. How many movies were released by each film distributor? Output the results to a csv file.

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
%matplotlib inline

In [2]:
movies = pd.read_csv("MovieData.csv", sep='\t')

In [3]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3627 entries, 0 to 3626
Data columns (total 6 columns):
Release_Date       3627 non-null object
Movie              3627 non-null object
Distributor        2968 non-null object
Budget             3627 non-null int64
US Gross           3627 non-null object
Worldwide Gross    3627 non-null object
dtypes: int64(1), object(5)
memory usage: 170.1+ KB

In [4]:
movies.columns

Index(['Release_Date', 'Movie', 'Distributor', 'Budget', 'US Gross',
       'Worldwide Gross'],
      dtype='object')

In [5]:
movies.dtypes

Release_Date       object
Movie              object
Distributor        object
Budget              int64
US Gross           object
Worldwide Gross    object
dtype: object

In [6]:
movies["US Gross"].unique()

array(['66439100', '309420425', 'Unknown', ..., '48482', '1338', '181041'],
      dtype=object)

In [7]:
movies["Worldwide Gross"].unique()

array(['254439100', '960996492', 'Unknown', ..., '71644', '240495',
       'Unkno'], dtype=object)

In [8]:
movies = pd.read_csv("MovieData.csv", sep='\t', 
                         na_values=["Unknown", "Unkno"])

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3627 entries, 0 to 3626
Data columns (total 6 columns):
Release_Date       3627 non-null object
Movie              3626 non-null object
Distributor        2968 non-null object
Budget             3627 non-null int64
US Gross           3541 non-null float64
Worldwide Gross    2350 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 170.1+ KB

In [10]:
movies.columns

Index(['Release_Date', 'Movie', 'Distributor', 'Budget', 'US Gross',
       'Worldwide Gross'],
      dtype='object')

In [11]:
movies.dtypes

Release_Date        object
Movie               object
Distributor         object
Budget               int64
US Gross           float64
Worldwide Gross    float64
dtype: object

In [12]:
movies.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross
0,03/09/12,John Carter,NaN,300000000,66439100.0,254439100.0
1,05/25/07,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425.0,960996492.0
2,12/13/13,The Hobbit: There and Back Again,New Line,270000000,NaN,NaN
3,12/14/12,The Hobbit: An Unexpected Journey,New Line,270000000,NaN,NaN
4,11/24/10,Tangled,Buena Vista,260000000,200821936.0,586581936.0

In [13]:
movies = pd.read_csv("MovieData.csv", sep='\t', 
                         na_values=["Unknown", "Unkno"], parse_dates=[0])

In [14]:
movies.dtypes

Release_Date       datetime64[ns]
Movie                      object
Distributor                object
Budget                      int64
US Gross                  float64
Worldwide Gross           float64
dtype: object

In [15]:
min(movies["Release_Date"])

Timestamp('1968-01-01 00:00:00')

In [16]:
max(movies["Release_Date"])

Timestamp('2067-12-29 00:00:00')

In [17]:
def make_date(date_str):
    '''
    Turn a MM/DD/YY string into a datetime object
    '''
    m, d, y = date_str.split("/")
    m = int(m)
    d = int(d)
    y = int(y)
    if y > 13:
        y += 1900
    else:
        y += 2000
    return dt.datetime(y, m, d)

In [18]:
movies = pd.read_csv("MovieData.csv", sep='\t', na_values=["Unknown", "Unkno"], 
                         parse_dates=[0], date_parser=make_date)
movies = movies.fillna(0)

In [19]:
print("The date of the oldest movie in the dataset is %r." % min(movies["Release_Date"]))
print("The date of the newest movie in the dataset is %r." % max(movies["Release_Date"]))

The date of the oldest movie in the dataset is Timestamp('1915-02-08 00:00:00').
The date of the newest movie in the dataset is Timestamp('2013-12-13 00:00:00').

The median profit of movies with budgets of over $50M is

In [20]:
movies["Worldwide Gross"][movies["Worldwide Gross"]==0] = movies["US Gross"]
movies["US Gross"][movies["US Gross"]==0] = movies["Worldwide Gross"]

movies.head()

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross
0,2012-03-09,John Carter,0,300000000,66439100.0,254439100.0
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425.0,960996492.0
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,0.0,0.0
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,0.0,0.0
4,2010-11-24,Tangled,Buena Vista,260000000,200821936.0,586581936.0

In [21]:

movies["Profits"] = movies["Worldwide Gross"] - movies["Budget"]
movies.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross,Profits
0,2012-03-09,John Carter,0,300000000,66439100.0,254439100.0,-45560900.0
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425.0,960996492.0,660996492.0
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,0.0,0.0,-270000000.0
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,0.0,0.0,-270000000.0
4,2010-11-24,Tangled,Buena Vista,260000000,200821936.0,586581936.0,326581936.0

In [22]:
movies[(movies.Budget > 50000000) & (movies["US Gross"].notnull())]

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross,Profits
0,2012-03-09,John Carter,0,300000000,66439100.0,2.544391e+08,-4.556090e+07
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425.0,9.609965e+08,6.609965e+08
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,0.0,0.000000e+00,-2.700000e+08
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,0.0,0.000000e+00,-2.700000e+08
4,2010-11-24,Tangled,Buena Vista,260000000,200821936.0,5.865819e+08,3.265819e+08
5,2007-05-04,Spider-Man 3,Sony,258000000,336530303.0,8.908753e+08,6.328753e+08
6,2009-07-15,Harry Potter and the Half-Blood Prince,Warner Bros.,250000000,301959197.0,9.344165e+08,6.844165e+08
7,2011-05-20,Pirates of the Caribbean: On Stranger Tides,Buena Vista,250000000,241063875.0,1.043664e+09,7.936639e+08
8,2012-07-20,The Dark Knight Rises,0,250000000,0.0,0.000000e+00,-2.500000e+08
9,2009-12-18,Avatar,20th Century Fox,237000000,760507625.0,2.783919e+09,2.546919e+09
10,2006-06-28,Superman Returns,Warner Bros.,232000000,200120000.0,3.908740e+08,1.588740e+08
11,2008-11-14,Quantum of Solace,Sony Pictures,230000000,169368427.0,5.916921e+08,3.616921e+08
12,2008-05-16,The Chronicles of Narnia: Prince Caspian,Buena Vista,225000000,141621490.0,4.194903e+08,1.944903e+08
13,2006-07-07,Pirates of the Caribbean: Dead Man's Chest,Buena Vista,225000000,423315812.0,1.060616e+09,8.356158e+08
14,2010-12-31,The Lone Ranger,Buena Vista,215000000,0.0,0.000000e+00,-2.150000e+08
15,2012-05-25,Men in Black 3,0,215000000,0.0,0.000000e+00,-2.150000e+08
16,2009-06-24,Transformers: Revenge of the Fallen,Paramount Pictures,210000000,402111870.0,8.365197e+08,6.265197e+08
17,2006-05-26,X-Men: The Last Stand,20th Century Fox,210000000,234362462.0,4.593596e+08,2.493596e+08
18,2010-05-14,Robin Hood,Universal,210000000,105487148.0,3.224590e+08,1.124590e+08
19,2005-12-14,King Kong,Universal,207000000,218080025.0,5.505174e+08,3.435174e+08
20,2007-12-07,His Dark Materials: The Golden Compass,New Line,205000000,70107728.0,3.722349e+08,1.672349e+08
21,2011-06-24,Cars 2,Buena Vista,200000000,191450875.0,5.598509e+08,3.598509e+08
22,2010-06-18,Toy Story 3,Buena Vista,200000000,415004880.0,1.064405e+09,8.644049e+08
23,1997-12-19,Titanic,20th Century Fox,200000000,600788188.0,1.842880e+09,1.642880e+09
24,2010-12-17,Tron: Legacy,Buena Vista,200000000,172062763.0,3.975628e+08,1.975628e+08
25,2009-11-13,2012,Sony,200000000,166112167.0,7.668122e+08,5.668122e+08
26,2009-05-21,Terminator Salvation: The Future Begins,Warner Bros.,200000000,125322469.0,3.716285e+08,1.716285e+08
27,2010-03-05,Alice in Wonderland,Walt Disney Co.,200000000,334191110.0,1.024391e+09,8.243911e+08
28,2004-06-30,Spider-Man 2,Columbia,200000000,373524485.0,7.837050e+08,5.837050e+08
29,2010-05-28,Prince of Persia: Sands of Time,Buena Vista,200000000,90759676.0,3.350597e+08,1.350597e+08
...,...,...,...,...,...,...,...
675,2003-10-10,Kill Bill: Volume 1,Miramax,55000000,70098138.0,1.800981e+08,1.250981e+08
676,1996-12-25,Evita,Buena Vista,55000000,50047179.0,1.519472e+08,9.694718e+07
677,2010-11-24,Burlesque,Sony,55000000,39440655.0,8.965740e+07,3.465740e+07
678,2003-08-01,Gigli,Columbia,54000000,6087542.0,7.266209e+06,-4.673379e+07
679,2005-10-14,Elizabethtown,DreamWorks SKG,54000000,26850426.0,5.071937e+07,-3.280627e+06
680,2006-07-14,"You, Me and Dupree",Universal,54000000,75802010.0,1.304020e+08,7.640201e+07
681,2008-12-19,Seven Pounds,0,54000000,69951824.0,1.666173e+08,1.126173e+08
682,1981-06-19,Superman II,Warner Bros.,54000000,108185706.0,1.081857e+08,5.418571e+07
683,1990-12-25,The Godfather: Part III,Paramount Pictures,54000000,66520529.0,6.652053e+07,1.252053e+07
684,2002-03-22,Blade 2,New Line,54000000,81676888.0,1.543386e+08,1.003386e+08
685,2000-06-16,Shaft,Paramount Pictures,53012938,70327868.0,1.071901e+08,5.417717e+07
686,2001-11-02,Domestic Disturbance,Paramount Pictures,53000000,45207112.0,5.420711e+07,1.207112e+06
687,2007-04-06,Grindhouse,Weinstein,53000000,25031037.0,5.018779e+07,-2.812211e+06
688,2006-10-20,Flags of Our Fathers,DreamWorks SKG,53000000,33602376.0,6.190238e+07,8.902376e+06
689,2005-08-05,The Dukes of Hazzard,Warner Bros.,53000000,80270227.0,1.109939e+08,5.799390e+07
690,2001-05-18,Moulin Rouge,20th Century Fox,53000000,57386369.0,1.792132e+08,1.262132e+08
691,2009-10-16,Law Abiding Citizen,0,53000000,73357727.0,1.264391e+08,7.343914e+07
692,1998-10-16,Beloved,Buena Vista,53000000,22852487.0,2.285249e+07,-3.014751e+07
693,1997-11-14,Anastasia,20th Century Fox,53000000,58403409.0,1.398014e+08,8.680141e+07
694,1995-11-22,Casino,Universal,52000000,42438300.0,1.104000e+08,5.840000e+07
695,2003-04-16,Bulletproof Monk,MGM/UA,52000000,23010607.0,2.301061e+07,-2.898939e+07
696,2002-12-25,Catch Me if You Can,DreamWorks SKG,52000000,164606800.0,3.511068e+08,2.991068e+08
697,1998-12-23,The Thin Red Line,20th Century Fox,52000000,36400491.0,3.640049e+07,-1.559951e+07
698,1999-12-22,Man on the Moon,Universal,52000000,34580635.0,4.740764e+07,-4.592365e+06
699,2011-08-05,The Change-Up,Universal,52000000,37081475.0,7.565804e+07,2.365804e+07
700,2010-02-12,Valentine's Day,Warner Bros.,52000000,110485654.0,2.175693e+08,1.655693e+08
701,2010-02-05,From Paris With Love,Lionsgate,52000000,24077427.0,5.313917e+07,1.139168e+06
702,2006-06-02,The Break Up,Universal,52000000,118806699.0,2.029442e+08,1.509442e+08
703,2006-08-04,Barnyard: The Original Party Animals,Paramount Pictures,51000000,72779000.0,1.166181e+08,6.561808e+07
704,2000-06-23,"Me, Myself & Irene",20th Century Fox,51000000,90570999.0,1.492710e+08,9.827100e+07

In [23]:
movies[(movies.Budget > 50000000)].median()

Budget              80000000.0
US Gross            77233467.0
Worldwide Gross    166000000.0
Profits             89246220.0
dtype: float64

##### a. What is the median profit of movies with budgets of over $50M?

In [24]:
print("The median profit of movies with budgets of over $50M is shown in the profits row below:")
#movies[(movies.Budget > 50000000)].median()
movies[(movies.Budget > 50000000) & (movies["US Gross"].notnull()) 
       & (movies["Worldwide Gross"].notnull())].median()

The median profit of movies with budgets of over $50M is shown in the profits row below:

Budget              80000000.0
US Gross            77233467.0
Worldwide Gross    166000000.0
Profits             89246220.0
dtype: float64

In [25]:
by_distributor = movies.groupby('Distributor')

In [26]:
by_distributor.groups.keys()

dict_keys([0, '20th Century Fox', '3D Entertainment', '8 X Entertainment', 'ART', 'Access', 'Alliance', 'American International Pictures', 'Anchor Bay', 'Apparition', 'Artisan', 'Artistic License', 'Atlantic', 'Attitude Films', 'Avatar', 'Avco Embassy', 'Barking Cow', 'Big Pictures', 'Bigger Picture', 'Black Diamond Pictures', 'Buena Vista', 'CBS Films', 'CFP', 'CHRIST', 'Cannon', 'Cinema Service', 'Cinema con Sabor', 'Cloud Ten Pictures', 'Columbia', 'Consolidated Pictures Group', 'Cowboy', 'CustomFlix', 'DEJ Productions', 'Damiano', 'David Keith Co.', 'Destination', 'Destination Films', 'Dimension', 'Dimension Films', 'Disney', 'DreamWorks SKG', 'Embassy', 'Empire', 'Eros', 'Excel Entertainment', 'Fabrication Films', 'Film Foundry', 'Film Movement', 'Film Sales Co.', 'FilmDistrict', 'Filmways', 'Fine Line', 'First Independent Pictures', 'First Look', 'First Look Pictures', 'Five and Two Pictures', 'Focus Features', 'Fox Searchlight', 'Freestyle', 'Freestyle/Darko', 'Galactic', 'Galaxy', 'Giant', 'Goldwyn', 'Good Machine', 'Gramercy', 'Halestorm', 'Halestorm Entertainment', 'Hemdale Film Coorporation', 'IDP', 'IDP/Gold Circle', 'IDP/Goldwyn', 'IDP/Sam Goldwyn', 'IDP/Stratosphere', 'IFC Films', 'INWOO', 'Independent Artists', 'Indican', 'Inerstar', 'Island', 'Island/Alive', 'J.F. Prods', 'JeTi Films', 'Jerry Gross Organization', 'Kino', 'LIONS', 'Lavender House', 'Legacy', "Lion's Gate", 'Lions Gate', 'Lions Gate/IFC Films/Fellowship Adventure Group', 'Lionsgate', 'Live Entertainment', 'Lorimar', 'Lot 47', 'MGM', 'MGM/UA', 'MORO', 'Magnolia', 'Magnolia Pictures', 'Miramax', 'Monterey Media', 'Mulberry Square Releasing', 'Music Box', 'NEW LTN', 'NORTH', 'New Century Vista Film Company', "New Films Int'l", 'New Line', 'New Market', 'New World', 'New World Pictures', 'New Yorker', 'Newmarket Films', 'October', 'October Films', 'Odeon', 'Off Hollywood Pictures', 'Off-Hollywood Distribution', 'OpenEdge Media', 'Orion', 'Orion Classics', 'Oscilloscope', 'Outrider Pictures', 'Overture', 'Overture Films', 'PION', 'Painted Zebra Releasing', 'Paladin', 'Palisades Entertainment', 'Palm Pictures', 'Palm/Manga', 'Paramount Classics', 'Paramount Pictures', 'Paramount Vantage', 'Phaedra', 'Picturehouse', 'Polygram Films', 'Power Point', 'Providence', 'RAIN', 'RBC Radio, LLC', 'RED HOR', 'RKO', 'RS Entertainment', 'Rainforest Films', 'Regent', 'Regent Releasing', 'Relativity', 'Roadside', 'Roadside Attractions', 'Rogue', 'Rogue Pictures', 'Romar', 'Roxie Releasing', 'Samuel Goldwyn', 'Samuel Goldwyn Films', 'Savoy', 'Screen Gems', 'Senator Films', 'Shooting Gallery', 'Shotwell Media', 'Small Planet', 'Sony', 'Sony Classics', 'Sony Pictures', 'Sony/Gems', 'Sony/Screen Gems', 'Sony/Tristar', 'Strand', 'Strand Releasing', 'Stratosphere', 'Summit', 'Summit Entertainment', 'TLA Releasing', 'Tartan', 'Testimony Pictures', 'The Movie Partners', 'ThinkFilm', 'Third Rail', 'TriStar Pictures', 'Trimark', 'Triumph', 'Truly Indie', 'USA Films', 'United Artists', 'United Film Distribution', 'Universal', 'Universal/Arenas Entertainment', 'Universal/Rogue', 'Videos', 'Vitagraph Films', 'Walt Disney Co.', 'Walt Disney Pictures', 'Warner Bros.', 'Warner Independent', 'Warner Independent Pictures', 'Weinstein', 'Weinstein Ci.', 'Weinstein Co.', 'Weinstein/Dimension', 'Weintraub', 'WellSpring', 'Wellspring', 'WinStar', 'Winstar', 'Yash Raj', 'Zeitgeist', 'Zion'])

In [27]:
counts = by_distributor.Movie.aggregate(len)

In [28]:
counts.tail()

Distributor
WinStar      1
Winstar      1
Yash Raj     1
Zeitgeist    7
Zion         1
Name: Movie, dtype: int64

b. How many movies were released by each film distributor? Output the results to a csv file.

In [29]:
print("The number of movies released by each film distributor is shown below:")
print(counts)

The number of movies released by each film distributor is shown below:
Distributor
0                                  659
20th Century Fox                   230
3D Entertainment                     1
8 X Entertainment                    1
ART                                  1
Access                               1
Alliance                             4
American International Pictures      1
Anchor Bay                           4
Apparition                           4
Artisan                             23
Artistic License                     1
Atlantic                             1
Attitude Films                       1
Avatar                               1
Avco Embassy                         5
Barking Cow                          1
Big Pictures                         1
Bigger Picture                       1
Black Diamond Pictures               1
Buena Vista                        227
CBS Films                            3
CFP                                  1
CHRIST                               1
Cannon                               4
Cinema Service                       1
Cinema con Sabor                     1
Cloud Ten Pictures                   1
Columbia                            26
Consolidated Pictures Group          1
                                  ...
Third Rail                           2
TriStar Pictures                     4
Trimark                              9
Triumph                              1
Truly Indie                          1
USA Films                           15
United Artists                      23
United Film Distribution             2
Universal                          261
Universal/Arenas Entertainment       1
Universal/Rogue                      1
Videos                               1
Vitagraph Films                      2
Walt Disney Co.                      9
Walt Disney Pictures                 1
Warner Bros.                       311
Warner Independent                   3
Warner Independent Pictures          7
Weinstein                            1
Weinstein Ci.                        1
Weinstein Co.                       33
Weinstein/Dimension                  1
Weintraub                            2
WellSpring                           2
Wellspring                           1
WinStar                              1
Winstar                              1
Yash Raj                             1
Zeitgeist                            7
Zion                                 1
Name: Movie, Length: 209, dtype: int64

In [30]:
type(counts)

pandas.core.series.Series

In [31]:
data = pd.DataFrame(counts)
data.head()

                   Movie
Distributor
0                    659
20th Century Fox     230
3D Entertainment       1
8 X Entertainment      1
ART                    1

In [32]:
data.index

Index([                                0,                '20th Century Fox',
                      '3D Entertainment',               '8 X Entertainment',
                                   'ART',                          'Access',
                              'Alliance', 'American International Pictures',
                            'Anchor Bay',                      'Apparition',
       ...
                         'Weinstein Co.',             'Weinstein/Dimension',
                             'Weintraub',                      'WellSpring',
                            'Wellspring',                         'WinStar',
                               'Winstar',                        'Yash Raj',
                             'Zeitgeist',                            'Zion'],
      dtype='object', name='Distributor', length=209)

In [33]:
data.columns = ["Counts"]
data

                                 Counts
Distributor
0                                   659
20th Century Fox                    230
3D Entertainment                      1
8 X Entertainment                     1
ART                                   1
Access                                1
Alliance                              4
American International Pictures       1
Anchor Bay                            4
Apparition                            4
Artisan                              23
Artistic License                      1
Atlantic                              1
Attitude Films                        1
Avatar                                1
Avco Embassy                          5
Barking Cow                           1
Big Pictures                          1
Bigger Picture                        1
Black Diamond Pictures                1
Buena Vista                         227
CBS Films                             3
CFP                                   1
CHRIST                                1
Cannon                                4
Cinema Service                        1
Cinema con Sabor                      1
Cloud Ten Pictures                    1
Columbia                             26
Consolidated Pictures Group           1
...                                 ...
Third Rail                            2
TriStar Pictures                      4
Trimark                               9
Triumph                               1
Truly Indie                           1
USA Films                            15
United Artists                       23
United Film Distribution              2
Universal                           261
Universal/Arenas Entertainment        1
Universal/Rogue                       1
Videos                                1
Vitagraph Films                       2
Walt Disney Co.                       9
Walt Disney Pictures                  1
Warner Bros.                        311
Warner Independent                    3
Warner Independent Pictures           7
Weinstein                             1
Weinstein Ci.                         1
Weinstein Co.                        33
Weinstein/Dimension                   1
Weintraub                             2
WellSpring                            2
Wellspring                            1
WinStar                               1
Winstar                               1
Yash Raj                              1
Zeitgeist                             7
Zion                                  1

[209 rows x 1 columns]

In [34]:
data.to_csv('hw3_1b.csv', sep=',') # Outputs the results to a csv file.